# production profile
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/employee_management?stringtype=unspecified
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    database: POSTGRESQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false # This forces developers to be explicit about what data is needed and to fetch it within the service layer (e.g., using DTOs, fetch joins, or @EntityGraph).
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        ddl-auto: validate
